*{
    padding: 0%;
    margin: 0%;
}
:root {
  --main-bg-color: #edf5fe;
  --light-blue: #03a9f4;
  --border-color: #0288d147;
  --container-width: 500px;
}
body{
background-image: 
radial-gradient(at 61% 99%, hsla(27,61%,76%,1) 0, transparent 55%),  
radial-gradient(at 43% 31%, hsla(192,75%,62%,1) 0, transparent 50%),  
radial-gradient(at 71% 37%, hsla(329,70%,73%,1) 0, transparent 52%),  
radial-gradient(at 62% 59%, hsla(247,71%,65%,1) 0, transparent 47%),  
radial-gradient(at 86% 53%, hsla(259,74%,63%,1) 0, transparent 45%),  
radial-gradient(at 60% 23%, hsla(64,88%,68%,1) 0, transparent 41%),  
radial-gradient(at 13% 64%, hsla(298,93%,76%,1) 0, transparent 47%);
background-attachment: fixed;
/* animation: movinggradirnt 5s ease infinite; */
background-size: 100%;

 margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

.App {
  height: 100;
  /* width: 100; */
  /* padding-top: 10px; */
}
.text-center {
  text-align : center;
}

.title {
  font-size: 20px;
}


canvas {
        display: block;
      }
.navbar{
  background-color: #333;
}
.wide{
  margin: 0 50px 0 0px;
  height:0px;
}

@keyframes movinggradirnt{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

/*Tableview layout*/
table{
  position: absolute;
  padding: 5px solid rgb(15, 13, 13);
  z-index: 2;
  left: 50%;
  top: 70.5%;
  transform: translate(-50%,-50%);
  width: 57%; 
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  box-shadow: 0 2px 15px rgba(64,64,64,.7);
  background: #fafafa;
  text-align: center;
}
.table-sm{

  margin: 0 0 40px 0;
}
  .table-view{
    margin: 70px;
    width: 100vw;
    height: 100vh;
  }


 
 td , th{
  padding: 15px 20px;
  }
 
 th{
  background-color: #ba68c8;
  color: #fafafa;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
 }
 
 td{
   font-family: 'Open Sans' sans-serif;
 }
 
 tr{
  width: 100%;
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
 }
 
 tr:nth-child(odd){
  background-color: #eeeeee;
 }


/*Grid layout */
.dashboard-card{
    width: 100px;
    height: 100px;
    background: #eaeaea;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.dashboard-card-container{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );


}

.grid{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(15rem,1fr)); */
    /* grid-template-columns: repeat(auto-fit, minmax(350px,1fr) ) ; */
    /* grid-template-columns: repeat(auto-fit,1fr); */
    grid-gap: 10px;
    align-items: start;
    
}

.grid > .file-dashboard{
    background: #e9dcdc;
    border: none;
    box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    text-align: center;
    width: 250px;
    overflow-wrap: break-word;
    text-rendering: optimizeSpeed;
    font-family: "Camphor";
    transition: transform .3s;

}

.grid > .file-dashboard:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
}

 .grid > .file-dashboard > .file-preview > img{
    width: 210px;
    height: 150px;
    border-radius: 5px;
    margin: 10px;
    object-fit: cover;
}

.file-name  h5{
    font-size: 15px;
    text-align: center;
}



/*Drop zone */

.upload-container,
.drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  flex-direction: column;
}
.content{
  /* display: flex;
  align-items: center; */
  /* justify-content: center; */
  margin-left: 250px;
}
.upload-container,
.drop-zone {
  flex-direction: column;
}

.upload-container {
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 20px 20px 0px #0000002e;
  width: 550px;
  height: auto;
  margin: 100px;
  /* background: linear-gradient(90deg, rgb(33, 37, 41) 0%, rgba(33, 37, 41, 0.4) 100%);
  background-image: linear-gradient(90deg, rgb(33, 37, 41) 0%, rgba(33, 37, 41, 0.4) 100%); */
  /* backdrop-filter: blur(200px); */
}
.btn-primary{
  position: relative;
  bottom: -40px;
  border-radius: 20px;
  width: 125px;
}
#fileDescription{
  position: relative;
  width: min-content;
  position: relative;
  left: 50%;
  top: 68%;
  transform: translate(-50%,-50%);
}

.drop-zone {
  width: var(--container-width);
  min-height: 200px;
  border: 2px dashed var(--border-color);
  border-radius: 10px;
  margin: 30px;
  transition: 0.2s all ease-in;
}

.drop-zone.dragged {
  background: var(--main-bg-color);
  border-color: #0288d1;
}

.drop-zone input#fileInput{
  display: none;
}

.icon-container {
  position: relative;
  width: 75px;
  height: 100px;
  text-align: start;
}

.icon-container img {
  width: 75px;
  position: absolute;
  transition: transform 0.25s ease-in-out;
  transform-origin: bottom;
}

.icon-container .center {
  z-index: 10;
}
.icon-container .right,
.icon-container .left {
  filter: grayscale(0.5);
  transform: scale(0.9);
}

.dragged .center {
  transform: translateY(-5px);
}
.dragged .right {
  transform: rotate(10deg) scale(0.9) translateX(20px);
}
.dragged .left {
  transform: rotate(-10deg) scale(0.9) translateX(-20px);
}

.title {
  font-size: large;
}

#browseBtn {
  color: #2196f3;
  cursor: pointer;
}