* {
box-sizing: border-box;
}

html {
    height: 100;
}

body {
    background-color: #fff;
    color: #222;
    padding: 0;
    height: max-height;
}

.theme-options {
    max-width: 800px;
    margin: 0 auto;
    text-align: right;
    padding: 20px 0;
    div {
        cursor: pointer;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        margin: 2px 10px;
        border: 1px solid #fff;
        display: inline-block;
        opacity: 0.5;
        &.active {
            opacity: 1;
        }
    }
    #theme-white {
        background-color: #eee;
    }
    #theme-blue {
        background-color: #1e41c1;
    }
    #theme-orange {
        background-color: #b64b1e;
    }
    #theme-purple {
        background-color: #7852ae;
    }
    #theme-green {
        background-color: #5faf3b;
    }
    #theme-black {
        background-color: #000;
    }
}

// .theme-options .div {
//         cursor: pointer;
//         width: 20px;
//         height: 20px;
//         border-radius: 4px;
//         margin: 2px 10px;
//         border: 1px solid #fff;
//         display: inline-block;
//         opacity: 0.5;

//         &.active {
//             opacity: 1;
//         }
//     }

//theming
.App.theme-blue {
    background-color: #bec7e7;
    background-image: radial-gradient(at 61% 99%, hsla(27, 61%, 76%, 1) 0, transparent 55%),
    radial-gradient(at 43% 31%, rgb(49, 218, 175) 0, transparent 50%),
    radial-gradient(at 71% 37%, rgb(50, 30, 139) 0, transparent 52%),
    radial-gradient(at 62% 59%, rgb(37, 25, 129) 0, transparent 47%),
    radial-gradient(at 86% 53%, rgb(68, 33, 143) 0, transparent 45%),
    radial-gradient(at 60% 23%, rgb(117, 122, 40) 0, transparent 41%),
    radial-gradient(at 13% 64%, rgb(202, 78, 20) 0, transparent 47%);

}

.App.theme-orange {
    background-color: #f4c9b7;
background-image: radial-gradient(at 61% 99%, rgb(207, 218, 67) 0, transparent 55%),
radial-gradient(at 43% 31%, rgb(12, 141, 109) 0, transparent 50%),
radial-gradient(at 71% 37%, rgb(219, 123, 99) 0, transparent 52%),
radial-gradient(at 62% 59%, rgb(113, 15, 170) 0, transparent 47%),
radial-gradient(at 86% 53%, rgb(68, 33, 143) 0, transparent 45%),
radial-gradient(at 60% 23%, rgb(117, 122, 40) 0, transparent 41%),
radial-gradient(at 13% 64%, rgb(180, 77, 175) 0, transparent 47%);
}

.App.theme-purple {
    background-color: #d0b7f4;
    color: #000;
    background-image: radial-gradient(at 61% 99%, hsla(27, 61%, 76%, 1) 0, transparent 55%),
    radial-gradient(at 43% 31%, rgb(86, 226, 191) 0, transparent 50%),
    radial-gradient(at 71% 37%, rgb(87, 59, 211) 0, transparent 52%),
    radial-gradient(at 62% 59%, rgb(37, 25, 129) 0, transparent 47%),
    radial-gradient(at 86% 53%, rgb(48, 24, 100) 0, transparent 45%),
    radial-gradient(at 60% 23%, rgb(208, 219, 52) 0, transparent 41%),
    radial-gradient(at 13% 64%, rgb(250, 155, 111) 0, transparent 47%);

}

.App.theme-green {
    background-color: #c3e3c1;

}

.App.theme-black {
    background-color: #5c5c5c;

}
